@import url("https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab&display=swap");

@import url("https://use.fontawesome.com/releases/v5.6.3/css/all.css");

.slick-image {
  object-fit: cover;
  max-height: 800px;
  min-height: 500px;
}
